Repository dask/dask-cloudprovider, pull requests merged in 2021-03, with the labels that each got.

#206 remove AzureMLCluster
  dask_cloudprovider/__init__.py
  dask_cloudprovider/azureml/__init__.py
  dask_cloudprovider/azureml/azureml.py
  dask_cloudprovider/azureml/setup/start_scheduler.py
  dask_cloudprovider/azureml/setup/start_worker.py
  dask_cloudprovider/azureml/tests/test_azureml_gpu.py
  dask_cloudprovider/cloudprovider.yaml
  dask_cloudprovider/tests/test_imports.py
  doc/source/azureml.rst
  doc/source/index.rst
  setup.py
Labels: provider/azure/azureml

#270 Fix case sensitivity in AzureVMCluster GPU instance checks
  dask_cloudprovider/azure/azurevm.py
Labels: bug, provider/azure/vm

#271 Add debug flag to VMCluster
  dask_cloudprovider/aws/ec2.py
  dask_cloudprovider/azure/azurevm.py
  dask_cloudprovider/digitalocean/droplet.py
  dask_cloudprovider/gcp/instances.py
  dask_cloudprovider/generic/vmcluster.py
Labels: enhancement, provider/aws/ec2, provider/azure/vm, provider/digitalocean/droplet, provider/gcp/vm

#276 Make disk size configurable
  dask_cloudprovider/azure/azurevm.py
  dask_cloudprovider/cloudprovider.yaml
Labels: provider/azure/vm
